# files
*.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.bcf
*.xml
*.xlsx
*.csv
*.png
*.jpeg
*.jpg
 *.pyc

# folders
.vscode/
.ipynb_checkpoints/
__pycache__/

refs/
outs/
data/*

# do not ignore
!data/en-simfeats.pkl
!data/pt-simfeats.pkl
!data/es-simfeats.pkl
